h1{
    justify-self: center;
}

body{
    background-color: rgb(67, 67, 67);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#game {
    display: flex;
    flex-direction: column; /* Empile les lignes (.row) verticalement */
    gap: 5px; 
    align-items: center; /* Centre les lignes au milieu */    
    margin-top: 50px; 
    border: solid;
    border: 5px solid rgb(92, 92, 92);
    padding: 10px;
    border-radius: 12px;
    width: fit-content;
    justify-self: center;
    user-select: none;
}

/* Chaque ligne (qui contient 5 tuiles) */
.row {
    display: flex; /* Aligne les tuiles (.tile) horizontalement */
    gap: 5px; 
}


.tile {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: grey; 
}
#message{
    justify-self: center;
}

.orange{
    background-color: orange;
}
.vert{
    background-color: green;
}
.grey{
    background-color: grey; 
}

button{
    display: flex;
    justify-self: center;
    margin-top: 50px;
    border-radius: 5px;
    color: white;
    background-color: rgb(67, 67, 67);
    
}
#show{
    justify-self: left;
}
#GO:hover{
    border: rgb(92, 92, 92) 2px solid;
    background-color: darkgrey;
}
.hidden{
    display: none !important;
}

/* ou 
#game.hidden{
    display: none;
} */


dialog {
    background-color: rgb(67, 67, 67);
    color: white;
    border: 5px solid rgb(92, 92, 92);
    border-radius: 12px;
    padding: 20px;
}

/* Grise le reste de la page derrière le pop-up */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7); 
}
#clavier{
    margin: 40px;
}
#clavier div {
    grid-area: top;
    display: flex;
    justify-content: center;
    align-content: space-around;
    

}
.keys{
    margin-top: 0% !important;
    display: flex;
    border: rgb(92, 92, 92) solid  1px;
    background-color: aliceblue;
    color: black;
    min-width: 40px;
    max-width: fit-content;
    height: 60px;
    border-radius: 8%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: grey;
    margin: 3px;
}
.keys:active{
    background-color: black;
    border: 1px solid black;
}
/* Couleurs pour le clavier virtuel */
.keys.vert {
    background-color: green;
    border-color: green;
}

.keys.orange {
    background-color: orange;
    border-color: orange;
}

.keys.grey {
    background-color: #222222; 
    border-color: #222222;
}
